<form action="/artists" method="post">
  <p>
    <label for="name">Artist Name</label>
<input type="text" id="name" name="artist[name]">
  </p>
  <p>
    <label for="name">Song Name</label>
<input type="text" id="name" name="artist[song_name]">
  </p>
  <input type="submit">
</form>